In [1]:
from pathlib import Path
import csv
import pandas as pd

In [2]:
test = pd.read_csv('equalized_train.csv')

In [3]:
test

      Unnamed: 0                                                  0          1
0              0  سحر جان خیلی زود از این تخمک ناقص بکش بیرون حی...  "غیرتنفر"
1              1                              زنگ بزن به مهدی طارمی  "غیرتنفر"
2              2                  رابطه داری با تتلو قریشی جواب بدی  "غیرتنفر"
3              3  زنده باد نوید کور بشه چشم حسود بره بمبره هر کی...  "غیرتنفر"
4              4                           معموله این مدل عکس گرفتن  "غیرتنفر"
...          ...                                                ...        ...
1966        1966                      آدم خوب نبود با تتلو دو پریدی     "تنفر"
1967        1967  راسته تتلو کبابی زده و یک سره تو رو میفرسته پا...  "غیرتنفر"
1968        1968                مبارکا باشه چه زوجی چقدر به هم میان  "غیرتنفر"
1969        1969  ایندفعه به کاهدون زدی سحر خانم تتل جز جفت چیزش...     "تنفر"
1970        1970  همینو کم داشتیم اینا برن سفر علمیشما وعلم کجات...     "تنفر"

[1971 rows x 3 columns]

In [4]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer(analyzer='char', ngram_range=(1, 5))
vectors = vectorizer.fit_transform(test['0'].values.astype('U'))
feature_names = vectorizer.get_feature_names()
dense = vectors.todense()
denselist = dense.tolist()
df = pd.DataFrame(denselist, columns=feature_names)

/usr/local/lib/python3.8/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer(analyzer='word', ngram_range=(1, 5))
vectors = vectorizer.fit_transform(test['0'].values.astype('U'))
feature_names = vectorizer.get_feature_names()
dense = vectors.todense()
denselist = dense.tolist()
dff = pd.DataFrame(denselist, columns=feature_names)

/usr/local/lib/python3.8/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [17]:
tdf = pd.concat([df,dff], axis = 1)

In [18]:
tdf

,,آ,آب,آب,آب ت,آب د,آب ر,آب و,آب چ,آب ک,...,یکی گف اینا,یکی گف اینا یکروزی,یکی گف اینا یکروزی از,یکیشون,یکیشون مادرتونه,یکیو,یی,یی به,یی به نام,یی به نام مسولین
0,0.141512,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.088157,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.114040,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.156155,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.076767,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1966,0.116581,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1967,0.156721,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1968,0.123497,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1969,0.183003,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1970,0.144252,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [19]:
add_label = test.iloc[:,-1:]

In [20]:
add_label

              1
0     "غیرتنفر"
1     "غیرتنفر"
2     "غیرتنفر"
3     "غیرتنفر"
4     "غیرتنفر"
...         ...
1966     "تنفر"
1967  "غیرتنفر"
1968  "غیرتنفر"
1969     "تنفر"
1970     "تنفر"

[1971 rows x 1 columns]

In [21]:
tdf = pd.concat([tdf,add_label], axis=1)

In [22]:
tdf.to_csv("tf-idf_train.csv")